.error {
    color: palevioletred;
}

body {
    background-color: #C1C1C1;
}

div {
    padding: 0.8em;
}

table, th, td {
    border: 1px solid black;
  }

table {
    text-align: center;
}

.bg-info{
    background-color: grey;
}

.hour{
    font-size: 0.8em;
    font-weight: 500;
}

#map {
    min-height: 500px;
}

span {
    font-weight: bold;
}